input[value="Adição"] {
  background-color: #4CAF50; /* Verde */
  color: white;
}

input[value="Subtração"] {
  background-color: #f44336; /* Vermelho */
  color: white;
}

input[value="Multiplicação"] {
  background-color: #2196F3; /* Azul */
  color: white;
}

input[value="Divisão"] {
  background-color: #FF9800; /* Laranja */
  color: white;
}

input[value="Fatorial"] {
  background-color: #9C27B0; /* Roxo */
  color: white;
}

input[value="Exponenciação"] {
  background-color: #FFEB3B; /* Amarelo */
  color: black;
}

input[value="Raiz Quadrada"] {
  background-color: #795548; /* Marrom */
  color: white;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
}

